.navigation-card {
  max-width: 25rem;
  //&:hover {
  //  transform: scale(1.05, 1.05);
  //}

  &__avatar {
    background-image: url("/assets/angular-icon.png");
    background-size: cover;
  }

  &__action {
    text-transform: uppercase;
  }
}
