.navigation-card {
  width: 25rem;

  &__image {
    height: 18.75rem;
  }

  &__avatar {
    background-image: url("/assets/angular-icon.png");
    background-size: cover;
  }

  &__action {
    text-transform: uppercase;
  }
}
