.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .phone {
    color: #fff;
    text-decoration: none;

    &:active {
      color: #fff;
    }

    &:visited {
      color: #fff;
    }
  }
}
